@import url("https://use.typekit.net/bgj0ctu.css");

.image{
    width: 100%;
    filter: blur(5px);
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
    margin: -5px -10px -10px -5px;
}


:root {
    --input-padding-height: 1.5em;
}
  
  body {
    margin: 0;
    padding: 0;
  }
  
  form {
    position: relative;
    margin-top: 20vh;
    text-align: center;
  }
  
  input {
    font-family: 'new-order';
    font-weight: light;
    font-size: 1em;
  }
  
  .container {
    text-align: center;
  }
  
  .submit {
    position: absolute;
    top: 1.5em;
    left: 63vw;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .submit #submitImage {
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
  }
  
  .submit #submitImage:hover {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  
  input[type='text'] {
    padding: var(--input-padding-height) 2em;
    width: 30vw;
    background-color: white;
    border-radius: 100vw;
    border: 1px solid #dfdfdf;
    font-size: 1.2em;
  }
  
  input[type='text']:hover {
    -webkit-box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.123);
            box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.123);
    border: 1px solid #b3b3b3;
  }
  
  .background {
    position: absolute;
    top: 0;
    z-index: -1000;
    height: 100vh;
  }
  
  .background img {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    -o-object-fit: contain;
       object-fit: contain;
    filter: blur(5px);
    transform: scale(1.03)
  }

h2 {
  font-family: 'new-order';
  font-size: 3.5em;
  color: white;
}

p {
  font-family: 'new-order';
  font-weight: light;
  font-size: 2em;
}

.all-items {
  display: flex;
  place-content: center;
}

button.remove {
  background: none;
  border: none;
}

img.blender {
  padding: .5em;
  margin-bottom: .4em;
  cursor: pointer;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

img.blender:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}