{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        
        <title>SmallTown</title>
        <link rel='stylesheet' type='text/css' media='screen' href='{%  static  'css/main.css'  %}'>
        <link rel='icon' href='{%  static  'images/whiteIcon.png'  %}'>
        
    </head>
    <body>
        <img src="{%  static  '/images/lilleby_wallpaper.jpg'  %}" alt="" class="image">
        <img src='https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DoLCOVzIDY9k&psig=AOvVaw1RWoMKpvTc47lEjejpz5YI&ust=1654606285340000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCLitkvHumPgCFQAAAAAdAAAAABAD' alt="" class="image">
        <h1>
            the home of the wings
        </h1>
    </body>
</html>