{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>SmallTown</title>
        <link rel="stylesheet" type="text/css" media="screen" href="{%  static  "/css/main.css"  %}">
        <link rel="icon" type="image/png" href="{%  static  "/images/whiteIcon.jpg"  %}">
        
    </head>
    <body>
    
        <form action="" method="post">
            {% csrf_token %}
            <div class="container">
                <input id='grocery' name="grocery" type="text" placeholder="Input item" value="">
            </div>
            
            <button class="submit" id="submitButton">
                <img id='submitImage' src="{%  static  "/images/add.svg"  %}" alt="" style="display: none;">
            </button>
        </form>

        <div>
            <p> Groceries: </p>
            {% for Shoppinglist in Shoppinglist%}
                <p>{{ Shoppinglist.grocery }}</p>
            {% endfor %}
        </div>

        <div class="background">
            <img src="{%  static  "/images/lilleby_wallpaper.jpg"  %}" alt="">
        </div>

    </body>

    <script>
        const submitImage = document.getElementById('submitImage');
        const input = document.getElementById('grocery');
        const submitButton = document.getElementById('submitButton');
        const pizza = document.getElementById('pizza');

        input.addEventListener('input', () => {
            
            if (input.value === '') {
                submitImage.style = 'display: none';
            } else {
                submitImage.style = 'display: inline-block';
            }
        });
        
        submitButton.addEventListener('mouseover', () => {
            submitImage.src = "{%  static  "/images/add.svg"  %}";
        });
        submitButton.addEventListener('mouseleave', () => {
            submitImage.src = "{%  static  "/images/add2.svg"  %}";
        });

        input.addEventListener('input', () => {

            if (input.value === 'pizza') {
                pizza.style = 'display: inline-block';
            } else if (input.value === 'Pizza') {
                pizza.style = 'display: inline-block';
            } else {
                pizza.style = 'display: none';
            }
        })
    </script>
</html>